#main-content {
	padding: 30px 20px 0 20px; 
}

#main-content ul {
	list-style-image: url("../img/bullet.png");
}

header {
    background-color: #f0b500;
	border: 2px solid #ffcc00;
}

header .description {
    padding: 8% 20px 0 20px;
}

header .description h1 {
   color: black;
   text-shadow: 0px 2px 0px #CE0000;
   font-family: 'Londrina Outline', cursive;
   font-size: 5em;
   font-weight: 500;
}

header .description h2 {
   color: #C3A053;
   font-family: 'Francois One', sans-serif;
   font-size: 2em;
}

.side-nav .group-name {
    list-style-image: none;
    text-transform: uppercase;
}

footer {
    margin-top: 50px;
    background-color: #333;
}

footer .about p {
    color: white;
    padding-top: 55px;
    font-size:1em;
    font-family: 'Francois One', sans-serif;
}

.post {
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.post h1,h2,h3,h4 {
    font-family: 'Francois One', sans-serif;
}

#disqus_thread {
	padding-top: 20px;
}