#main-content {
	padding: 30px 20px 0 20px; 
}

#main-content ul {
	list-style-image: url("../img/bullet.png");
}

header {
  background-color: #f0b500;
	order: 2px solid #ffcc00;
}

header .description {
  padding: 8% 20px 0 20px;
}

header .description h1 {
   color: black;
   text-shadow: 0px 2px 0px #CE0000;
   font-family: 'Londrina Outline', cursive;
   font-size: 5em;
   font-weight: 500;
}

header .description h2 {
   color: #C3A053;
   font-family: 'Francois One', sans-serif;
   font-size: 2em;
}

.side-nav {
    font-family: 'Open Sans', sans-serif;
}

.side-nav .group-name {
    list-style-image: none;
    text-transform: uppercase;
}

footer {
    margin-top: 50px;
    background-color: #333;
}

footer .about p {
    color: white;
    padding-top: 55px;
    font-size:10pt;
    font-family: 'Open Sans', sans-serif;
}

.post {
    font-family: 'Open Sans', sans-serif;
}

.post h1,h2,h3,h4,h5 {
    padding: 20px 0 5px 0;
    font-family: 'Francois One', sans-serif;
}

.post .date {
    padding: 30px 0 10px 0;
    font-size: 10pt;
}

.panel.note {
    margin: 10px 0 10px 0;
    line-height: 2em;
}

.panel.note .label {
    display: inline;
}

#disqus_thread {
	padding-top: 20px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.cv .header {
  margin-top: -20px;
}

.cv .part-name {
  font-size: 16pt;
}

.cv .position {
  line-height: 1.4em;
  margin-bottom: 10px;
}
.cv .position-company {
  font-size: 14pt;
}

.cv .position-name {
  font-size: 13pt;
}

.cv .position-desc {
  font-size: 11pt;
}

.cv .position-tech {
  font-size: 11pt;
  font-style: italic;
}