<div class="row hide-for-large-up">
    <div data-magellan-expedition="fixed">
        <dl class="sub-nav">
            <dd data-magellan-arrival="profile"><a href="#profile">Profile</a></dd>
            <dd data-magellan-arrival="work"><a href="#work">Work</a></dd>
            <dd data-magellan-arrival="edu"><a href="#edu">Education</a></dd>
            <dd data-magellan-arrival="interest"><a href="#interest">Interests</a></dd>
        </dl>
    </div>
</div>

<div class="cv">
<p>
	<h1 class="no-padding-bottom">Michal Swiatowy </h1>
	<h5 class="subheader no-padding-top header">
		<a href="http://gplus.to/swiatek">http://gplus.to/swiatek</a>; 
		<a href="mailto:swiatek25@gmail.com">swiatek25@gmail.com</a>; 
		Current address = Wroclaw, Poland
	</h5>
</p>

<div class="row">
	<a name="profile"></a>
	<div data-magellan-destination="profile" class="small-3 columns part-name">PROFILE</div>
	<div class="small-9 columns">
		<div class="position"> 	
			Divergent, skilled, experienced software developer and Computer Science graduate. Open-minded, able to work as part of a team. Interested in business and web solutions. Willing to learn. Signed Reactive Manifesto. 
		</div>
	</div>
</div>
<div class="row">
	<a name="work"></a>
	<div data-magellan-destination="work" class="small-3 columns part-name">WORK EXPERIENCE</div>
	<div class="small-9 columns">
		<div class="position">
			<div class="row position-company">
				<div class="small-8 columns">Crazy Dog Solutions</div>
				<div class="small-4 columns">05.2014–07.2014</div>		
			</div>
			<div class="position-name">Lead Developer</div>
			<div class="position-desc">Hybrid Game Development</div>
			<div class="position-tech">Angular.js, Cordova, Ionic</div>
		</div>
		<div class="position">
			<div class="row position-company">
				<div class="small-8 columns">txtr GmbH</div>
				<div class="small-4 columns">07.2012–05.2014</div>		
			</div>
			<div class="position-name">Senior Java Developer</div>
			<div class="position-desc">Reaktor (core component) and administration tool (lead)</div>
			<div class="position-tech">EJB, ElasticSearch, Vaadin 6/7 (did migration), Javascript, Selenium, Jboss, 
			Jenkins CI, Responsive Design</div>
		</div>
		<div class="position">
			<div class="row position-company">
				<div class="small-8 columns">Flafi Design Shop</div>
				<div class="small-4 columns">03.2012–07.2012</div>		
			</div>
			<div class="position-name">Lead developer – nighttime work</div>
			<div class="position-desc">Hybrid Game Development</div>
			<div class="position-tech">Broadleaf Commerce extension, dynamic configuration component, CMS</div>
		</div>
		<div class="position"> 	
			<div class="row position-company">
				<div class="small-8 columns">Fingo sp. z o.o.</div>
				<div class="small-4 columns">06.2007–06.2012</div>		
			</div>
			<div class="position-name">Java Software developer </div>
			<div class="position-desc">Salutor – the registration system</div>
			<div class="position-tech">Seam, CDI, Hibernate, JSF, JBoss, Infispan Cache, SVN, Hudson CI</div>
			<div class="position-desc">Online visitor registration system, Messe München GmbH – onsite project</div>
			<div class="position-tech">Intershop Enfinity, Mercurial, Hudson CI</div>
			<div class="position-desc">Storage and delivery process automation, Occhio GmbH</div>
			<div class="position-tech">Swing, Spring, CVS, Hudson CI</div>
			<div class="position-desc">Online visitor registration system, Messe München GmbH</div>
			<div class="position-tech">	Spring, Spring Web Flow, Hibernate, Oracle, JSP, Velocity, Tomcat, XFire, Axis</div>
			<div class="position-desc">SAP connector and invoicing service, Messe München GmbH</div>
			<div class="position-tech">SAP JCO connector, Spring</div>			
		</div>
		<div class="position">
			<div class="row position-company">
				<div class="small-8 columns">KPIT Cummins, Pune, India</div>
				<div class="small-4 columns">06.2006–09.2006</div>		
			</div>
			<div class="position-name">Java Software developer </div>
			<div class="position-desc">Web enabled application for automated proposal processing</div>
			<div class="position-tech">Spring, JSP, Tomcat, JDBC</div>
		</div>
	</div>
</div>
<div class="row">
	<a name="edu"></a>
	<div data-magellan-destination="edu" class="small-3 columns part-name">EDUCATION</div>
	<div class="small-9 columns">
		<div class="position">
			<div class="position-company">
				MSc in Computer Science and Computer Engineering 				
			</div>
			<div class="position-name">Internet Engineering (Secure systems)</div>
			<div class="position-desc"><a href="http://pwr.wroc.pl" target="_blank">Wroclaw University of Technology</a></div>
		</div>				
	</div>
</div>
<div class="row">	
	<div class="small-3 columns part-name">TRAININGS AND CERTIFICATES</div>
	<div class="small-9 columns">
		<div class="position">
			<div class="position-name">Functional Programming Principles in Scala</div>
			<div class="position-desc">École Polytechnique Fédérale de Lausanne</div>
		</div>			
		<div class="position">
			<div class="position-name">SCJP 6</div>
		</div>		
		<div class="position">
			<div class="position-name">Wroclaw JUG member</div>
		</div>		
		<div class="position">
			<div class="position-name">.NET Technology Seminars</div>			
		</div>	
		<div class="position">
			<div class="position-name">Brainbench</div>		
			<div class="position-desc">	Internet And Network Security</div>
			<div class="position-desc">Internet Technology</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-3 columns part-name">LANGUAGES</div>
	<div class="small-9 columns">
		<div class="position">
			<div class="position-name">Polish native</div>
		</div>			
		<div class="position">
			<div class="position-name">English advanced</div>
			<div class="position-desc">CAE certificate</div>
		</div>		
		<div class="position">
			<div class="position-name">German intermediate</div>
		</div>		
	</div>	
</div>
<div class="row">
	<a name="interest"></a>
	<div data-magellan-destination="interest" class="small-3 columns part-name">WHAT ABOUT ME?</div>
	<div class="small-9 columns">
		<div class="position">
			<div class="position-name">Spare time </div>
			<div class="position-desc">Skiing, traveling, video games, amateur photography, science fiction books, mathematical paradoxes, functional programming, movies</div>
		</div>			
		<div class="position">
			<div class="position-name">Professional interests</div>
			<div class="position-desc">Reactive and multithreaded programming, web development, web technologies, performance optimization and clean code</div>
		</div>		
	</div>		 	
</div>
</div>