<div class="row" data-equalizer>
    <div class="small-8 columns about" data-equalizer-watch>
        <p>
            Project maintained by <i class="fi-social-google-plus"></i>
            <a href="https://plus.google.com/u/0/+Micha%C5%82%C5%9AWIATOWY/posts">swiatek25</a>
        </p>
    </div>
    <div class="small-4 columns" data-equalizer-watch>
        <ul class="side-nav right">
            <li><a href="{{site.baseurl}}/humans.txt"><img src="{{site.baseurl}}/img/humanstxt.png"></a></li>
            <li><a href="http://www.w3.org/html5"><img src="{{site.baseurl}}/img/html5.png"></a></li>
        </ul>
    </div>
</div>
