<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Crazy Dog Solutions by swiatek25</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css"/>
    <script src="{{site.baseurl}}/js/vendor/modernizr.js"></script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
				<li><label>Recent posts</label></li>
			    {% for post in site.posts %}
				<li>
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <br/><small>Posted on: {{post.date | date: "%Y-%m-%d" }}</small></a>
				</li>
			    {% endfor %}
            </ul>
        </aside>

        <nav class="tab-bar show-for-small" data-topbar>
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
            <section class="centered middle tab-bar-section">
                <h1 class="text-center">Crazy Dog Solutions by swiatek25</h1>
            </section>
        </nav>
        <nav class="top-bar hide-for-small" data-topbar>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li class="has-form">
                        <a href="https://github.com/swiatek25/blog" class="button round success">View On GitHub</a>
                    </li>
                </ul>
            </section>
        </nav>

        <section class="main-section">
			<header>
                <div class="row">
                    <div class="small-4 columns">
                        <a href="{{site.baseurl}}"><img src="{{site.baseurl}}/img/logo.png"/></a>
                    </div>
                    <div class="small-8 columns description">
                        <h1>Crazy Dog Solutions</h1>

                        <h2>Blog from non-existing <em>wannabe</em> company documenting learning curves of modern technologies</h2>
                    </div>
                </div>
			</header>
            <section id="main-content">
                <div class="row">
                    <div class="small-3 columns">
                        <div>
                            <ul class="side-nav">
                                <li>Posts</li>
								{% for post in site.posts %}
								<li>
									<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>  {{post.date | date: "%Y-%m-%d" }}
								</li>
								{% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="small-9 columns">
						{{ content }}
                    </div>
                </div>
            </section>
			<footer>
				{% include footer.html %}
			</footer>
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>

<script src="{{site.baseurl}}/js/vendor/jquery.js"></script>
<script src="{{site.baseurl}}/js/foundation.min.js"></script>
<script> $(document).foundation();</script>
</body>
</html>