<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>To be resolved by swiatek25</title>
    <link rel="stylesheet" href="/blog/stylesheets/styles.css">
    <link rel="stylesheet" href="/blog/stylesheets/pygment_trac.css">
    <script src="/blog/javascripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
		<a href="/blog" name="Go to main page">
			<h1>To be resolved</h1>
			<p>Documenting learning curves </p>
		</a>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/swiatek25/blog" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/swiatek25/blog/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/swiatek25/blog/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
		<ul>
		  {% for post in site.posts %}
			<li class="tag-h1">
				<a href="/blog{{ post.url }}">{{ post.title }}</a>  {{post.date | date: "%Y-%m-%d" }}
			</li>
		  {% endfor %}
		</ul>
      </nav>
      <section>
		{{ content }}
		{% include comments.html %}
      </section>
	  {% include footer.html %}
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>